.contents
  .contents__side
    .contents__side__index
      .contents__side__index__box
        .contents__side__index__box__name
          %p.name  
            = current_user.name
        .contents__side__index__box__menu
          .contents__side__index__box__menu__new  
            = link_to do
              %i.fa.fa-edit 
          .contents__side__index__box__menu__edit
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
    .contents__side__group
      %h1.group sample group
      %p.message hello!
      %h1.group example
      %p.message まだメッセージがありません。
  .contents__main
    .contents__top
      .contents__index
        %h1.group sample group
        %p.member Member:test
      .contents__edit
        Edit
    .contents__messages
      .message
        .message__info
          %p.user test-user 
          %p.date 2019/11/04(Mon) 18:00:00
        .message__text
          %p.text こんにちは！
    .contents__form
      %form.new__message
        .input-box
          %input.input-box__text{placeholder:"type a message"}
          %label.input-box__image
            %i.fa.fa-image
            %input.input-box__image__file{type:"file"}
        %input.submit__btn{type:"submit", value:"send"}

   